<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <form>
            <div class="input-group">
                <span class="input-group-btn">
                    <a href="fotos/new" class="btn btn-primary">Nova Foto</a>
                </span>
                <input class="form-control" placeholder="Filtrar" ng-model="filtro">
            </div>

        </form>
    </div>
</div>

<h5 class="text-center">{{mensagem}}</h5>

<br>

<div class="row d-flex justify-content-center">
    <meu-painel class="col-md-2 painel-animado card m-2" ng-repeat="foto in lstFotos | filter:filtro" titulo="{{foto.titulo}}">
        <img src="{{foto.url}}" alt="imagem" class="img-responsive center-block">
        <a href="" class="btn btn-primary btn-block">Editar</a>
        <a href="" class="btn btn-danger btn-block" ng-click="remover(foto)">Remover</a>
    </meu-painel>
</div>